script(src="/scripts/profile.js")
div(class="profile-container align-items-center container-fluid shadow-sm rounded-3")
  div(class="d-flex flex-column align-items-center")
    form(id="form-container" class="text-center" action="/users/update/image" method="post" enctype="multipart/form-data")
      input(type="file" name="avatar" class="d-none" id="input-avatar")
      img(src=user.avatar class="avatar img-fluid" id="image-profile")
    .profile-category.d-flex.flex-column.align-items-start
      .profile-sub-category.d-flex.align-items-center
        i(class="fa-solid fa-user me-2")
        p.mb-0= user.username
      .profile-sub-category.d-flex.align-items-center
        i(class="fa-solid fa-envelope me-2")
        p.mb-0= user.local.email
  div(class="profile-category text-center d-flex justify-content-around w-100 mt-3 mt-md-0")
    .flex-fill
      p.mb-0
        strong Wave
        br
        span.text-light= waves && waves.filter(t => t.author._id.toString() === user._id.toString()).length
    .flex-fill
      p.mb-0
        strong Following
        br
        span.text-light= user.following.length
  if currentUser._id.toString() !== user._id.toString()
    div(class="d-flex flex-row justify-content-center w-100 mt-3 mt-md-0")
      if currentUser.following.map(objId => objId.toString()).includes(user._id.toString())
        a(class="btn btn-primary btn-unfollow" href="/users/unfollow/" + user._id) unfollow
      else
        a(class="btn btn-outline-primary btn-follow" href="/users/follow/" + user._id) follow
