if waves
  each wave, index in waves  
    .wave-card.mb-3.card
      .row.no-gutters
        .col-md-4.wave-card-avatar-container.d-flex.flex-column.align-items-center.justify-content-center
          img.wave-card-avatar(src=wave.author.avatar, alt="Avatar")
          h5.wave-card-title.my-2= wave.author.username
          .d-flex.flex-row.align-items-center.justify-content-center.mt-4.mx-2
            button.btn.btn-success.mx-2(type="button" id="like-button" waveid=wave._id)
              i(class="fa-regular fa-thumbs-up")
            button.btn.btn-danger.mx-2(type="button" id="dislike-button" waveid=wave._id)
              i(class="fa-regular fa-thumbs-down")
        .col-md-8.wave-body-card
          .d-flex.flex-column.justify-content-between.align-items-center
           .wave-card-text.mb-4= wave.content
           .d-flex.flex-row.align-items-center.justify-content-between.mt-4.mx-2
             if editable && wave.author._id.toString() === currentUser._id.toString()
                 a.btn.btn-neon-blue.m-2(href=`/waves/edit/${wave._id}`) Edit
                 button.btn.btn-neon-pink.m-2.first-delete-button(type="button", data-bs-toggle="modal", data-bs-target="#deleteModal", waveid=wave._id) Delete

  // Modal de confirmation de suppression
  div(class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered" role="document")
      div(class="modal-content rounded-4 shadow" style="background: linear-gradient(to right, #ff9a9e 0%, #fecfef 100%);")
        div(class="modal-header border-bottom-0" style="background: #ff9a9e;")
          h5(class="modal-title text-white" id="deleteModalLabel") Vous êtes sur le point de supprimer une vague
          button(class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close")
        div(class="modal-body")
          p(class="text-dark") Êtes-vous sûr de vouloir supprimer cette vague ?
        div(class="modal-footer border-top-0")
          button(class="btn btn-secondary" type="button" data-bs-dismiss="modal") Annuler
          button(class="btn btn-danger" type="button" id="confirmDelete") Supprimer
